@import url("https://fonts.googleapis.com/css?family=Muli:300,400,400i,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
html,
body {
  height: 100%;
}

body {
  font-family: "Muli", "Open Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.65;
  color: #000;
  position: relative;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* you could also use milliseconds (ms) or something like 2.5s */
  background-color: #49009a;
  background-color: #fff;
}

.scrolled-color header {
  opacity: 0;
}

@keyframes colorchange {
  0% {
    background: #08ff82;
  }
  25% {
    background: #08fff4;
  }
  50% {
    background: #fdf6a4;
  }
  75% {
    background: #fdd9a4;
  }
  100% {
    background: #08ffaf;
  }
}

@-webkit-keyframes colorchange

/* Safari and Chrome - necessary duplicate */ {
  0% {
    background: #08ff82;
  }
  25% {
    background: #08fff4;
  }
  50% {
    background: #fdf6a4;
  }
  75% {
    background: #fdd9a4;
  }
  100% {
    background: #08ffaf;
  }
}

p,
a {
  line-height: 1.65;
  -webkit-transition: .3s;
  transition: .3s;
}

p.more,
a.more {
  font-size: 21px;
}

a {
  font-weight: 600;
  color: #862a5c;
  text-decoration: none;
}

a:hover {
  color: #2c003e;
}

a.link {
  position: relative;
  font-size: 24px;
  font-weight: 500;
}

a.link::after {
  content: '';
  background: url(../images/button-dark.svg) no-repeat center;
  background-size: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 2px;
  right: 20px;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

a.link:hover::after {
  right: 10px;
}

a.btn {
  position: relative;
  background: #862a5c;
  color: #fff;
  border-radius: 0;
  padding: 16px 65px 16px 34px;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a.btn:hover {
  color: #fff;
}

a.btn.btn-arrow::after {
  content: '';
  background: url(../images/button-light.svg) no-repeat center;
  background-size: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 2px;
  right: 20px;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

a.btn.btn-arrow:hover::after {
  right: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #24243c;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.25;
  font-weight: 900;
  color: #24243c;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.05;
  font-weight: 800;
}

h2 {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 40px;
  color: #24243c;
  font-size: 24px;
  line-height: 1.1em;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #8984a2;
}

h2.large {
  font-size: 36px;
  font-weight: 800;
}

video,
img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 900;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1280px;
  padding: 80px 60px 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
}

.text-muted {
  color: #726f77 !important;
}

/*=====================
    Top Nav
=====================*/
.navbar {
  background: transparent;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar .navbar-brand img {
  max-height: 48px;
}

.navbar.scrolled {
  background: #fff;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08), 0 -4px 8px rgba(255, 255, 255, 0.15);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08), 0 -4px 8px rgba(255, 255, 255, 0.15);
}

.navbar .navbar-nav .nav-link {
  -webkit-transition: background-size .4s ease;
  transition: background-size .4s ease;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(62%, transparent), color-stop(0, #862a5c)) center center/0% 75% no-repeat;
  background: linear-gradient(to bottom, transparent 62%, #862a5c 0) center center/0% 75% no-repeat;
  position: relative;
  cursor: pointer;
}

.navbar .navbar-nav .nav-link:hover {
  color: #24243c;
  background-size: 100% 100%;
}

.navbar .navbar-nav .nav-link:active {
  background-size: 80% 100%;
}

.navbar .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: #352f42;
}

/*=====================
    Header
=====================*/
header {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 90vh;
  min-height: 600px;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

header #header {
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.header-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content p {
  font-size: 42px;
  color: #352f42;
  font-weight: 400;
  letter-spacing: -1px;
}

.header-content small {
  font-size: 60%;
}

/*=====================
    MISC
=====================*/
main {
  width: 100%;
  position: relative;
  z-index: 10;
  margin: auto;
  padding: 20px 20px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.intro p {
  font-size: calc(100vw/(1440/32));
}

/*=====================
    Case Study
=====================*/
.case-study {
  position: relative;
}

.case-study .owl-theme .owl-prev,
.case-study .owl-theme .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block !important;
  border: 0px solid black;
  outline: none;
}

.case-study .owl-theme .owl-prev:hover,
.case-study .owl-theme .owl-next:hover {
  background: transparent;
}

.case-study .owl-theme .owl-prev {
  left: -40px;
}

.case-study .owl-theme .owl-next {
  right: -40px;
}

.case-study .owl-theme .owl-prev i,
.case-study .owl-theme .owl-next i {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  color: #252525;
}

/*=====================
    About
======================*/
.social-links {
  list-style: none;
}

.social-links .social-links__item {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me {
  padding: 120px 0;
  background: #fcfcfc;
}

.about-me .content-lead {
  font-size: 27px;
}

/*=====================
    FOOTER
======================*/
footer {
  width: 100%;
  position: relative;
  max-width: 1280px;
  padding: 100px 60px 60px;
  margin: 0 auto 60px;
  color: #352f42;
}

footer ul {
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

.copyright {
  font-size: 0.8rem;
  opacity: 0.5;
}

.footer-contact {
  max-width: 940px;
  margin-bottom: 30px;
}

.work-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  min-height: 420px;
  max-height: 600px;
  margin-bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 20px;
  background: #f4f1fb;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.work-container.not-ready .work-description {
  opacity: 0.5;
}

.work-container.not-ready:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
  cursor: not-allowed;
}

.work-container.not-ready a,
.work-container.not-ready a:hover {
  cursor: not-allowed;
  -webkit-transition: none;
  transition: none;
  pointer-events: none;
  text-decoration: none;
  color: #862a5c;
  opacity: 0.5;
}

.work-description {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 2;
  display: block;
  width: 50%;
  max-width: 500px;
  min-width: auto;
  padding: 60px 0 90px 60px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #55525d;
  font-weight: 400;
}

.work-description ol {
  list-style: none;
  padding: 0;
}

.work-description ol li {
  background-image: url("../images/checklist.svg");
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 30px;
  padding-left: 30px;
}

.work-logo {
  width: 72px;
  height: 72px;
  margin-right: 12px;
  margin-bottom: 12px;
  border-radius: 16px;
}

.work-header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.title {
  margin-top: 12px;
  margin-bottom: 0px;
  color: #24243c;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.metadata {
  margin-top: 4px;
  margin-bottom: 20px;
  opacity: 0.7;
  font-family: Inter, sans-serif;
}

.work-metadata {
  display: inline-block;
  padding-right: 4px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #352f42;
}

.work-img {
  position: absolute;
  z-index: 1;
  height: 100%;
  max-width: none;
  margin-left: 50%;
}

.work-img.desktop.hide {
  margin-left: 500px;
}

.work-links {
  margin-top: 40px;
}

.btn-link {
  color: #862a5c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 0;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
  text-decoration: none;
  border-bottom: 3px solid #862a5c;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.btn-link:hover {
  border-bottom: 12px solid #2c003e;
  padding-bottom: 11px;
  color: #2c003e;
  text-decoration: none;
}

.wireframe .work-container {
  border: 2px solid #862a5c;
  border-radius: 0;
  background-color: #fff;
}

.wireframe .work-container .work-img {
  border-left: 2px solid #862a5c;
}

@media screen and (max-width: 800px) {
  section {
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 760px) {
  h1 {
    font-size: 2rem;
  }
  main {
    padding: 0 20px;
  }
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar .navbar-brand img {
    max-height: 30px;
  }
  header {
    height: 80vh;
    min-height: 400px;
  }
  .header-content p {
    font-size: 24px;
  }
  .header-content {
    padding: 60px 20px 0;
  }
  footer {
    padding: 0 20px 60px;
  }
  .work-description {
    width: 100%;
    display: inline-block;
    margin: 0;
    position: relative;
    padding: 40px 40px 80px;
  }
  .work-container {
    display: block;
    width: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  .work-img.desktop.hide {
    margin-left: 0;
  }
  .title {
    font-size: 2.0rem;
  }
  .work-img {
    z-index: 1;
    height: 100%;
    max-width: none;
    margin-left: -40px;
    margin-top: 60px;
    margin-bottom: -80px;
  }
  footer h1 {
    font-size: 1.5rem;
  }
}

.cooking > div {
  padding: 30px 0 10px;
  border-bottom: 1px solid #eee;
}

.cooking > div h4 a {
  font-weight: 800;
  line-height: 1.35;
  font-size: 24px;
  color: #24243c;
  cursor: not-allowed;
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
}

.cooking > div p {
  color: #352f42;
}

.modal-content {
  border-radius: 20px;
  background: #fff;
}

.modal-header {
  border: none;
  padding: 60px 40px 0;
}

h5.modal-title {
  color: #111;
}

.modal-body {
  padding: 10px 40px;
  font-size: 16px;
  color: #757575;
}

.modal-body a, .modal-body a:hover {
  color: #49009a;
}

.modal-body input#password {
  border: none;
  padding: 40px;
  height: 80px;
  border-radius: 8px;
  background: #f3f3f3;
}

.modal-footer {
  border: none;
  padding: 10px 40px 40px;
}

.modal-header .close {
  margin-top: -40px;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#anim:hover {
  -webkit-animation: shake 500ms ease-in-out forwards;
          animation: shake 500ms ease-in-out forwards;
}

.btn {
  padding: 16px 30px;
  border-radius: 8px;
  outline: none;
  border: none;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn.btn-primary,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #49009a;
  border-color: #49009a;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:hover,
.btn-primary:not(:disabled):not(.disabled).active:active,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:hover,
.btn-primary:not(:disabled):not(.disabled):active:active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:hover,
.show > .btn-primary.dropdown-toggle:active,
.show > .btn-primary.dropdown-toggle:focus {
  background-color: #49009a;
  color: #862a5c;
}

button.btn.btn-secondary {
  background: #fff;
  color: #49009a;
  border: none;
}

.social a {
  margin: 10px 12px 0 0;
  display: inline-block;
  line-height: 1;
}

.projects-shots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projects-shots .shot {
  position: relative;
  display: block;
  width: 33.33%;
  background: #fff;
  color: #2c2c2c;
  text-decoration: none;
  padding: 2px;
  border-radius: 8px;
}

.shot {
  border-radius: 12px;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */