// Variables
$primary-color: #0089FA;
$secondary-color: #0B3668;
$danger-color: #C82121;
$success-color: #49BA22;
$hold-color: #FD5F00;
$warning-color: #FA9E05;
$info-color: #0DA7CA;
$default-color: #666666;


$text-light: #757575;
$text-default: #545454;
$text-dark: #2e2e2e;


$light-grey: #FCFCFC;
$normal-grey: #F8F8F8;
$dark-grey: #F0F0F0;
$darker-grey: #E0E0E0;

$colors: (primary: $primary-color,
    default: $default-color,
    secondary: $secondary-color,
    warning: $warning-color,
    danger: $danger-color,
    info: $info-color,
    success: $success-color,
    hold: $hold-color);

@mixin background-opacity($color, $opacity: 0.3) {
    background: rgba($color, $opacity);
}

/* GENERAL */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: $dark-grey;
    color: $text-default;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

a {
    font-weight: 500;
}

strong {
    font-weight: 500 !important;
}

/*----- Bootstrap Helper Classes -----*/
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

/*------ Layout -------*/
html,
body {
    overflow: hidden;
    height: 100%;
    min-width: 1200px;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

[class^='col'],
[class*=' col'] {
    padding-left: 5px;
    padding-right: 5px;
}

.flex-equal-length {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.column-container {
    @extend .d-flex;
    @extend .flex-column;
}

.flex-row-center {
    @extend .d-flex;
    @extend .align-items-center;
}

.main-container {
    @extend .d-flex;
    @extend .flex-row;
    height: 100vh;
    min-height: 540px;
}

.right-section {
    @extend .d-flex;
    @extend .flex-column;
    @extend .flex-equal-length;
}

.content-section {
    @extend .d-flex;
    @extend .flex-row;
    @extend .flex-equal-length;
    min-width: 1200px;
    padding: 0;
    position: relative;
    overflow: auto;
}

.summary-section {
    @extend .d-flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 350px;
    flex: 0 0 350px;

    margin: 10px;
    margin-left: 0px;

    -webkit-box-direction: normal;
}

.profile-section {
    @extend .d-flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;

    -webkit-box-direction: normal;

    position: sticky;
    top: 0;
    left: 0;
}



/*------ Classes -------*/
.bg-light {
    background: $light-grey;
}

.bg-normal {
    background: $normal-grey;
}

.bg-dark {
    background: $dark-grey;
}

.mr-10px {
    margin-right: 10px !important;
}

.av-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block !important;
    text-align: center !important;
    font-weight: 700;
    line-height: 30px !important;
    text-transform: uppercase !important;
    color: #fff !important;
}

.full-page {
    margin-bottom: -20px !important;
    overflow: hidden !important;
}

/*------Navigation-------*/

.borderTab {
    li a.nav-link {
        font-size: 12px;
        line-height: 52px;
        padding: 0 1rem;
        background: #fff;
        color: $text-light;
        font-weight: 500;
        position: relative;

        &.nav-link:hover {
            color: $primary-color;
        }

        &.active {
            border-radius: 0;
            background: #fff;
            font-weight: 500;
            color: $text-dark !important;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                display: inline-block;
                width: 100%;
                height: 3px;
                background: $primary-color;
            }
        }
    }
}

li.nav-item {
    display: flex;
    align-items: center;
}

.top-nav {
    background: #fff !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0 1rem;

    .page-title {
        font-size: 16px;
        margin-left: 10px;
        margin-bottom: 0 !important;
    }

    .search {
        border-radius: 19px;
        font-size: 13px;
        line-height: 26px;
        padding-left: 20px;
        border: 0;
        background: $dark-grey;
        margin: 0 !important;
    }

    .photo-icon {
        @extend .av-circle;
        background: #7E56C2;
        margin-right: 5px;
        font-size: 16px;
        font-weight: 400;
    }

    .nav-pills {
        @extend .borderTab;
    }

    .nav-item.divider {
        border-left: 1px solid $dark-grey;
        margin: 0 1rem !important;
    }

}

.navbar-brand {
    background: #035cc4;
    width: 50px;
    text-align: center;
    margin-left: -0.5rem;
    margin-right: 1.5rem;
}

/*------------ Left Navbar -------------*/
.left-navbar {
    @extend .d-flex;
    @extend .flex-column;

    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;

    background: #035cc4;
    height: 100%;
    text-align: center;
    margin-left: 0;

    a {
        width: 50px;
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 51px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    li {
        position: relative;

        a {
            color: #fff;
            line-height: 50px;
            border-left: 3px solid transparent;

            img {
                width: 18px;
                height: 18px;
                opacity: 0.5;
                margin-left: -3px !important;
            }

            &.active {
                background: #0b3668;
                border-left: 3px solid $primary-color;

                img {
                    opacity: 1;
                }
            }

            i {
                line-height: 50px;
                font-size: 18px;
                opacity: 0.6;
                margin-left: -2px;
            }

            &:hover i,
            &.active i {
                opacity: 1;
            }
        }
    }
}

/*----------- Right Navbar ------------*/
.right-navbar {
    position: sticky;
    right: 0;
    top: 0;
    background: $dark-grey;
    color: $text-dark;
    border-left: 1px solid $darker-grey;
    padding-top: 10px;
    max-width: 50px;

    .nav-item {
        position: relative;
        a {
            position: relative;
            padding: 5px;
            line-height: 40px;
            color: $default-color;
            text-align: center;
    
            i {
                font-size: 18px;
                line-height: 40px;
                width: 40px;
                border-radius: 50%;
                background: transparent;
            }
    
            &:hover {
                color: $text-dark;
    
                i {
                    background: rgba(0, 0, 0, 0.03);
                }
            }
            &.notify i {
                color: $danger-color;
                background: rgba(240, 33, 33, 0.06);
            }
        }
    }
}

/*----------- Main Content ------------*/
.main-content {
    @extend .d-flex;
    @extend .flex-column;
    @extend .flex-equal-length;
    padding: 10px;

    &>.card {
        &>.card-header {
            background: #fff;
            padding: 18px 30px;

            .card-title {
                font-size: 14px;
                line-height: 30px;
                color: $text-light;
                font-weight: 500;
                float: left;
                margin-bottom: 0;
                margin-right: 10px;
            }
        }

        &.card-page {
            margin-bottom: 10px;
            padding-bottom: 20px;
        
        >.card-header {
            padding: 10px 20px;
            .borderTab {
                margin-bottom: -10px;
                margin-top: -2px;
            }
        }
    }

        &.card-full {
            height: 100%;
        }
    }

    .card-body {
        position: relative;
    }

    .card-table {
        position: relative;
        height: 100%;
        min-height: 400px;
    }
}

.section-title {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $text-dark;
    margin-bottom: 20px;

    i {
        vertical-align: middle;
    }
}

hr.page-divider {
    margin: 40px -20px 30px;
}

.entities {
    margin-bottom: 20px;

    a {
        color: $text-light;
        padding: 0.5rem 0.75rem;

        i {
            font-size: 13px;
            line-height: 20px;
            vertical-align: middle;
            margin-right: 4px;
            color: $darker-grey;
        }

        &[data-status="done"] i {
            color: $success-color;
        }
    }
}
.onhold a {
    color: $text-default !important;
}

.entity-controls {
    padding: 0 10px;
}

.assignee.badge {
    font-size: 10px;
    line-height: 20px !important;
    padding: 2px 12px 2px 2px;
    color: $default-color !important;
    display: flex;
    align-items: center;

    .photo-icon {
        @extend .av-circle;
        width: 20px;
        height: 20px;
        font-size: 12px;
        line-height: 20px !important;
        margin-right: 5px;
        background: #7E56C2;
        font-weight: 400;
    }
}

.entity-doc {
    height: 360px;
    border: 1px solid #e0e0e0;
    .actions {
        display: flex;
    }
}

.entity-doc,
.modal-doc {
    position: relative;
    background: #747474;

    &>.card-header,
    &>.modal-header {
        position: absolute;
        z-index: 2;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        border-bottom: none;
        color: #fff;
        width: 100%;

        dd {
            opacity: 0.8;
        }
    }

    .card-body,
    .modal-body {
        padding: 0 !important;
        border-radius: 4px 4px 0 0;
        overflow: hidden;
        text-align: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .card-footer,
    .modal-footer {
        background: #fff;

        a {
            font-size: 12px;
            line-height: 18px;
            padding: 8px;
            position: relative;
            border-radius: 50%;
            background: #ffffff;
            margin-right: 1px;

            i {
                font-size: 18px;
                vertical-align: middle;
            }
            &:hover {
                background: $light-grey;
            }
        }
        .doc-nav a i {
            color: $text-default
        }
        .doc-nav a:hover i {
            color: $text-dark
        }
    }
}

.img-container>img {
    max-width: 100%;
}


/*-------------- Tables -----------------------*/
thead.fixed-header th:first-child,
.full-page .table thead th:first-child,
.full-page .table tr td:first-child {
    padding-left: 30px;
}

thead.fixed-header th:last-child,
.full-page .table thead th:last-child,
.full-page .table tr td:last-child {
    padding-right: 30px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.025);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.025);
    cursor: pointer;
}

/* Scrollable */
.scroll-table,
.scroll-body {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.card-body .scroll-body {
    margin: -20px;
    padding: 20px;
}

thead.fixed-header {
    position: fixed;
    z-index: 900;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 0 0 rgba(0, 0, 0, 0.08);
}



.expanded-table,
.compact-table, .card.application .table {

    td,
    th {
        padding: 9px 10px;
        vertical-align: middle;
        border-top: 1px solid $darker-grey;
    }

    tr:first-child td {
        border-top: 0;
    }

    thead th {
        border-top: 0;
        border-bottom: 0;
        background: $normal-grey;
        color: rgba(0, 0, 0, 0.5);
        font-size: 10px;
        line-height: 12px;
        padding: 14px 10px;
        font-weight: 500;
        text-transform: uppercase;
    }

    td>span {
        display: block;
        font-size: 13px;
        line-height: 20px;
        color: $text-default;

        &:nth-child(2) {
            font-size: 12px;
            line-height: 16px;
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .attributes span {
        font-size: 9px;
        font-weight: 500;
        line-height: 1;
        background: rgba(0, 0, 0, 0.05);
        padding: 5px 8px;
        border-radius: 1px;
        margin: 1px 0;
        display: inline-block;
    }
}


/* Expanded tables */
.expanded-table {

    td,
    th {
        padding: 18px 10px;
    }

    .active-row td {
        position: relative;
        background: #035cc4;
        color: #fff !important;

        &:last-child::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -8px;
            margin-top: -7px;
            border-style: solid;
            border-width: 7px 0 7px 8px;
            border-color: transparent transparent transparent #0062cc;
        }

        &>span {
            color: #fff;

            &:nth-child(2) {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}


.ps-card-table {
    .card-header {
        font-size: 18px;
        padding: 15px 20px !important;
        color: $text-dark;
        background: #fff;
        border-bottom: 0;
    }

    .table {
        margin-bottom: 0;

        td {
            padding: 9px 20px !important;
            color: $text-light;

            &:nth-child(2) {
                text-align: right;
                color: $text-default;
            }
        }
    }
}

.profile-section .ps-card-table {
    border: none;
    border-radius: 0;

    .table td {
        border-top: 1px solid #f0f0f0;
    }
}


/*----- Summary Section -------*/
.summary-section>.card-header,
.profile-section>.card-header {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.summary-section .card-header .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 2px;
}

.body-primary-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    vertical-align: middle;
}

.summary-section dt,
.profile-section dt {
    font-weight: 500;
}

.summary-section dd,
.profile-section dd {
    margin-bottom: 0;
    font-size: 12px;
    color: $text-light;
}

.summary-section .heading-2,
.profile-section .heading-2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    max-width: 140px;
}

.profile-section {
    margin: 0;
    border-radius: 0;
    border: 0;
    border-right: 1px solid $darker-grey;

    .heading-2 {
        font-size: 14px;
    }
}


.summary-section>.card-body,
.profile-section>.card-body {
    padding: 0;
}

.summary-section>.card-footer {
    background: #fff;
}


#accordion {
    min-height: 100%;
}

.summary-section #accordion .card {
    border: 0;
    border-radius: 0;
}

.summary-section #accordion .card-header {
    border: 0;
    border-top: 1px solid $darker-grey;
    background: #fff;
    padding: 10px;
}

.summary-section #accordion .card:first-child .card-header {
    border: 0;
}

.summary-section #accordion .card-header button {
    color: #545454;
    font-size: 14px;
}

.summary-section #accordion .card-body {
    overflow-y: auto;
}

/*
  #accordion .card {
      flex: 1 1 100%;
  }
  
  #accordion .collapse {
      flex: 0 0 auto;
      transition: all .2s;
  }
  
  #accordion .collapsing {
      flex: 1 1 100%;
      transition: flex .3s;
  }
  
  #accordion .collapse.show {
      flex: 1 0 auto;
  }
  
  #accordion .card .collapse.show {
      height: 100%;
  }*/



/*---------- ELEMENTS -----------*/

// Buttons
.btn {
    font-weight: 700;
}

.btn-md {
    border-radius: 3px;
    font-size: 13px;
    line-height: 20px;
    padding: 8px 20px;
}

.btn-sm {
    border-radius: 2px;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 12px;
}

.btn-lg {
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    padding: 13px 20px;
}

/* Button dropdown */
.dropdown.select-box {

    &>.btn {
        background: #fff;
        color: $text-default;
        border-radius: 3px;
        font-size: 13px;
        font-weight: 400;
        line-height: 30px;
        padding: 0 12px;
        max-width: 200px;
        text-align: left;
        margin-right: 5px;
        border: 1px solid $darker-grey;
        outline: none;
        box-shadow: none;
    }

    &.show>.btn,
    &>.btn:active,
    &>.btn:focus {
        background: #fff;
        color: $text-dark;
        border: 1px solid $primary-color;
        outline: none;
        box-shadow: none;
    }
}

// dropdowns
.dropdown button:active+.dropdown-menu {
    display: block;
}

.dropdown-menu {
    min-width: 180px;
    font-size: 13px;
    border-radius: 2px;
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px 2px rgba(0, 0, 0, 0.08);
    border: 0;

    &.dropdown-menu-right {
        right: 0;
        left: unset;

        &~.btn {
            margin-right: 0 !important;
        }
    }

    .form-check label {
        padding-left: 5px;
    }

    .dropdown-header {
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
    }

    a.dropdown-item {
        font-size: 13px;
        padding: 8px 20px;
    }

    .dropdown-toggle::after {
        margin-left: .355em;
        vertical-align: .155em;
    }
}

// dot-status

.dot-status span {
    position: relative;
    padding-left: 14px;
    line-height: 20px;

    &:first-child::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #000;
        transform: translateY(-50%)
    }

}
.dot-status.blink span:first-child::before {
    animation: blinker 0.6s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0.2; }
  }

// tooltips
[data-toggle="tooltip"] {
    position: relative;

    &:hover {
        cursor: pointer;

        &:before,
        &:after {
            display: block;
            position: absolute;
            z-index: 1000;
        }

        &:before {
            border-radius: 2px;
            font-size: 12px;
            line-height: 18px;
            color: white;
            content: attr(data-title);
            background-color: rgba(0, 0, 0, 0.8);
            width: max-content;
            padding: 3px 6px;
        }

        &:after {
            content: '';
            border-style: solid;
            border-color: transparent;
            border-width: 4px 5px 4px 5px;
        }

        /*top*/
        &[data-placement="top"]:before {
            top: 0;
            left: 50%;
            transform: translate(-50%, calc(-100% - 6px));
        }

        &[data-placement="top"]:after {
            border-width: 6px 6px 0 6px;
            border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
            top: -6px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        /*bottom*/
        &[data-placement="bottom"]:before {
            bottom: 0;
            left: 50%;
            transform: translate(-50%, calc(100% + 6px));
        }

        &[data-placement="bottom"]:after {
            border-width: 0 6px 6px 6px;
            border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
            bottom: -6px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        /*left*/
        &[data-placement="left"]:before {
            left: 0;
            top: 50%;
            transform: translate(calc(-100% - 6px), -50%);
        }

        &[data-placement="left"]:after {
            border-width: 6px 0 6px 6px;
            border-color: transparent transparent transparent rgba(0, 0, 0, 0.8);
            left: -6px;
            top: 50%;
            transform: translate(0, -50%);
        }

        /*right*/
        &[data-placement="right"]:before {
            right: 0;
            top: 50%;
            transform: translate(calc(100% + 6px), -50%);
        }

        &[data-placement="right"]:after {
            border-width: 6px 6px 6px 0;
            border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
            right: -6px;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
}

a.back-link {
    line-height: 24px;

    i {
        vertical-align: middle;
        line-height: 24px;
    }
}


// alerts
.alert {
    font-size: 13px;
    line-height: 20px;
    position: relative;
    padding: 12px 16px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 3px;

    .btn {
        float: right !important;
        margin-top: -5px;
    }
}

// Status chips

[class|=status] {
    font-size: 11px !important;
    font-weight: 500 !important;
    line-height: 12px !important;
    display: inline-block !important;
    padding: 4px 5px;
    border-radius: 3px;
    border: 1px solid transparent;
    background: transparent;
}

@each $name,
$color in $colors {

    .status-#{$name} {
        color: darken($color, 20%) !important;
        border-color: $color !important;
        background: rgba($color, 0.15);
    }

    .dot-status-#{$name} span:first-child:before {
        background: $color;
    }

    .btn-#{$name} {
        background: $color;
        border-color: $color;
        color: #fff;

        &:hover {
            background: darken($color, 7.5%);
            border-color: darken($color, 7.5%);
            color: #fff;
        }
    }

    .alert-#{$name} {
        color: darken($color, 20%) !important;
        background-color: rgba($color, 0.15);
        border-color: $color !important;

        .alert-link {
            color: darken($color, 25%) !important;
        }
    }
}

// lender icons

[class|=lender] {
    @extend .av-circle;
    font-size: 0 !important;

    &:first-letter {
        font-size: 14px;
    }
}

.lender-iifl {
    background: #3D539F;
}

.lender-fullerton {
    background: #E67000;
}

.lender-rbl {
    background: #E00700;
}

.lender-paysense {
    background: #2b35e0;
}

.progress {
    height: 40px;
    border-radius: 4px;
    overflow: inherit;

    .progress-bar>div {
        display: inline-block;
        width: 100%;
        height: 100%;

        &[data-placement="bottom"] {
            position: relative;

            &:before {
                width: 140px;
                margin-top: 4px;
                left: 50%;
                margin-left: -64px;
                top: 100%;
            }

            &:after {
                top: 100%;
                left: 50%;
                margin-top: -4px;
                margin-left: -4px;
                border-bottom-color: rgba(0, 0, 0, 0.8);
            }

        }
    }
}


/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    top: 0;
    margin: 10px;
    width: 480px;
    height: calc(100% - 20px);
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 20px;
    max-height: 100%;
    overflow-y: auto;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -480px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -480px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}


/* ----- General MODAL STYLE ----- */
.modal-content {
    border-radius: 4px;
    border: none;
}

.img-container {
    width: 100%;
    /* use this as the maxWidth */
    max-height: 100%;
    /* use this as the maxHeight */
}

.modal-header {
    border-bottom-color: #e0e0e0;
    background-color: #fff;
    position: relative;
    display: block;
    padding: 16px 20px;

    dt,
    dd {
        margin-bottom: 0;
    }

    .close {
        padding: 0 20px;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        /* line-height: 70px; */
        height: 100%;
    }
}

.modal-body {
    padding: 0;
}

.modal-footer {
    padding: 16px 20px;
}

/*--------- Edit Modal ----------*/
#editModal .sidemodal {
    position: absolute;
    top: 0;
    width: 480px;
    background: #fff;
    z-index: 10000;
    border-radius: 4px;
    margin: 10px;
    right: 496px;
    height: calc(100% - 20px);
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
    transition-delay: 0.2s;

    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1000;
        border-style: solid;
        border-width: 6px 0 6px 6px;
        border-color: transparent transparent transparent #fff;
        left: 100%;
        bottom: 22px;
        transform: translate(0, -50%);
    }
}

#editModal.show .sidemodal.shown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.toggle-sidemodal a {
    font-size: 24px;
    line-height: 24px;
    text-align: center;

    i {
        width: 40px;
        line-height: 24px;
        vertical-align: middle;
    }
}

#cropperModal .modal-dialog {
    max-height: 80vh;

    .img-container {
        max-height: 480px;
    }
}

/*--------- Forms ----------*/
.form-control {
    font-size: 13px;
    line-height: 24px;
    border-radius: 2px;
    border-color: #e0e0e0;
}

.form-group label {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 4px;
    font-weight: 500;
    color: $text-light;
}
label.custom-control-label {
    font-size: 13px;
    font-weight: 400;
    color: $text-default;
    margin-bottom: 0;
    line-height: 16px;
}


[data-rel="extra-info"] {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #999;
    &:hover {
        cursor: pointer;
    }
}

.badge-notify {
    position: absolute;
    border-radius: 50%;
    right: 6px;
    top: 6px;
    line-height: 16px;
    width: 16px;
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
    padding: 0;
}

.card.application {
    border-color: #e0e0e0;
    &.empty {
        border: 2px dashed $dark-grey;
        background: $light-grey;
        text-align: center;
        color: $text-light;
        padding: 30px;
    }
    .card-body {
        padding: 0;
        table {
            margin-bottom: 0;
            td{
                border: none;
            }
        }
    }
}

.full-modal .modal-dialog {
    margin: 0 !important;
    height: 100% !important;
    .modal-header {
        padding: 0 20px;
        border-radius: 0;
        a i {
            font-size: 13px;
            vertical-align: middle;
            padding-right: 3px;
        }
    }
    .modal-content {
        background: $light-grey !important;
        border-radius: 0;
    }
}

.messages-form {
    position: fixed;
    bottom: 0;
    padding: 16px 0;
    width: calc(100% - 40px);

    .messages-form-control .form-control {
        border-radius: 24px;
        border: none;
        padding: 12px 48px 12px 24px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.08), 0 1px 4px rgba(0,0,0,0.16);
    }
    .messages-form-tool {
        position: absolute;
        right: 4px;
        top: 50%;
        margin-top: -20px;
        a {
            padding: 0;
            width: 38px;
            i {
                vertical-align: middle;
                font-size: 18px;
                line-height: 38px;
            }
        }
    }
}